version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3
    container_name: map_project_db
    environment:
      POSTGRES_DB: radius_collector
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
